extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Products:] !{data.product_count}
      
      li #[strong Copies available:] !{data.product_available_count} 
      
